[project]
	description = Easy-to-customize templates for Concrete5's built-in Autonav, Form, and Page List blocks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Seanom (Seanom)
[access "refs/for/refs/*"]
	read = group user/Seanom (Seanom)
	push = group user/Seanom (Seanom)
	label-Code-Review = -2..+2 group user/Seanom (Seanom)
	label-Verified = -1..+1 group user/Seanom (Seanom)
	rebase = group user/Seanom (Seanom)
	removeReviewer = group user/Seanom (Seanom)
	submit = group user/Seanom (Seanom)
[access "refs/heads/*"]
	read = group user/Seanom (Seanom)
	create = group user/Seanom (Seanom)
	push = +force group user/Seanom (Seanom)
	pushMerge = group user/Seanom (Seanom)
[access "refs/tags/*"]
	push = +force group user/Seanom (Seanom)
	pushTag = group user/Seanom (Seanom)
	pushSignedTag = group user/Seanom (Seanom)
